{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block avanzu_head %} {% include 'AvanzuAdminThemeBundle:Partials:_header-form-extra.html.twig' %}{% endblock %}
{% block avanzu_document_title %}Nuevo Dise침o{% endblock %}
{% block avanzu_page_title %}Nuevo Dise침o{% endblock %}
{% block titulo_pagina %}
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Nuevo dise침o</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
                  </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
{% endblock %}
{% block avanzu_page_content %}
{{ form_start(form) }}
<style>
  .vich-image{
    z-index: 300;
    text-align: center;
  }
  .vich-image img{
    height: 200px;
  }
  .card button{
    z-index: 400;
  }
</style>
<div class="row">
   <div class="col-12">
    <div class="card">
      {#<div class="card-header with-border">
        <h3 class="card-title no-margin">Materiales a utilizar (solicitud de inventario)</h3>
      </div>#}
      <div class="overlay" style="display:none">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-3">
            {{ form_row(form.referencia) }}
          </div>
          <div class="col-12 col-md-3">
            {{ form_row(form.nombre) }}
          </div>
          <div class="col-12 col-md-3">
            {{ form_row(form.categoria)}}
          </div>
          <div class="col-12 col-md-3">
            {{ form_row(form.orden) }}
          </div>
          <div class="col-12 col-md-3">
            {{ form_row(form.talla) }}
          </div>
          <div class="col-12 col-md-3">
            {{ form_row(form.costoCorte) }}
          </div>
        </div>
        <div class="row">
          <div class="col-12 table-responsive">
            <h5>Materiales a utilizar (solicitud de inventario)</h5>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Material</th>
                <th style="width:10%">Qty</th>
                <th style="width:5%">Unidad</th>
                <th style="width:5%">Costo</th>
                <th style="width:20%">Proceso</th>
                <th style="width:5%"></th>
                <th style="width:10%"></th>
              </tr>
              </thead>
              <tbody  class="items" data-prototype="{{('<td>' ~ form_widget(form.materiales.vars.prototype.material) ~ '</td><td style="width:10%">' ~ form_widget(form.materiales.vars.prototype.cantidad) ~ '</td><td class="mat-unidad"></td>' ~ '</td><td class="mat-costo"></td>' ~ '</td><td style="width:10%">' ~ form_widget(form.materiales.vars.prototype.proceso) ~ '</td><td class="mat-imagen"></td>')|e('html_attr')}}">
              </tbody>
            </table>
            <hr>
{#            <h6>Im치genes</h6>#}

            <div class="row imagenes"
                 data-prototype="{{('
                <div class="card mb-2 bg-gradient-dark" style="height: 240px;">
                  <img class="card-img-top" src="/bundles/appbundle/images/vacio.png" alt="Agregar foto">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <p class="card-text text-white pb-2 pt-1">' ~ form_widget(form.imagenes.vars.prototype.orden) ~ '<br>' ~ form_widget(form.imagenes.vars.prototype.foto) ~ '</p>
                  </div>
                </div>
              ')|e('html_attr')}}">

            </div>
          </div>
        </div>
      </div> 
      <div class="card-footer">
        <div style="display:none">{{ form_rest(form) }}</div>
        <input type="submit" class="btn btn-sm btn-success d-flex ml-auto" value="Guardar" />
      </div>
    </div>
  </div>
</div>
{{ form_end(form) }}

{% endblock %}
{% block avanzu_javascripts %}{% include 'AvanzuAdminThemeBundle:Partials:_scripts-form-extra.html.twig' %}{% endblock %}
{% block avanzu_javascripts_inline %}
    <script>
        $(function () {
            console.log('{{ 'augmenting form'|trans({}, 'AvanzuAdminTheme') }}...');
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
            $('select:not(.swal2-select)').select2();
            $('[data-datepickerenable]').datepicker({autoclose: true, format: 'yyyy-mm-dd'});
            $('[data-timepicker]').timepicker();

            function materialSelected(){
              var select = $(this);
              var elem = select.find('option:selected');
              var unidad = elem.data('unidad');
              var imagen = elem.data('imagen');
              var costo = elem.data('costo');
              var casillaImagen = elem.closest('tr').find('.mat-imagen');
              var casillaUnidad = elem.closest('tr').find('.mat-unidad');
              var casillaCosto = elem.closest('tr').find('.mat-costo');
              if(!select.attr('id').includes("proceso")){
                casillaImagen.empty();
                casillaUnidad.html('');
                casillaCosto.html('');
                  if(imagen){
                  var ImagenElem = $('<img style="height: 80px" class="img-fluid" onerror="this.style.display=`none`" src="/uploads/images/material/'+imagen+'" />');
                  casillaImagen.append(ImagenElem);
                }
                if(unidad){
                  casillaUnidad.html(unidad);
                }
                if(costo){
                  casillaCosto.html(costo);
                }
              }  
            }

            var $collectionHolder;
            $collectionHolder = $('tbody.items');
            $collectionHolder.find('tr').each(function() {
                $(this).find('select').select2();
                addTagFormDeleteLink($(this));
            });


            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormButton = $('<td style="width:10%" class="text-right"><button class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button></td>');
                $tagFormLi.append($removeFormButton);
                $removeFormButton.on('click', function(e) {
                    $tagFormLi.remove();
                });
            }
            function addTagForm($collectionHolder, $newLinkLi) {
                var prototype = $collectionHolder.data('prototype');
                var index = $collectionHolder.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                $collectionHolder.data('index', index + 1);
                var $newFormLi = $('<tr></tr>').append(newForm);
                $newFormLi.find('select').select2().change(materialSelected);
                $newLinkLi.before($newFormLi);
                addTagFormDeleteLink($newFormLi);
            }

            var $addTagButton = $('<td class="text-right"><button type="button" class="btn btn-primary add_tag_link">Agregar item</button></td>');
            var $newLinkLi = $('<tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>').append($addTagButton);

            $collectionHolder = $('tbody.items');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find('tr').length);
            $addTagButton.on('click', function(e) {
                addTagForm($collectionHolder, $newLinkLi);
            });



            var $collectionHolder2;
            $collectionHolder2 = $('.row.imagenes');
            $collectionHolder2.find('.card').each(function() {
                addTagFormDeleteLink2($(this).find('.card-img-overlay'));
            });
            function addTagFormDeleteLink2($tagFormLi2) {
                var $removeFormButton2 = $('<button class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button>');
                $tagFormLi2.append($removeFormButton2);
                $removeFormButton2.on('click', function(e) {
                    $tagFormLi2.closest('.col-md-12').remove();
                });
            }
            function addTagForm2($collectionHolder2, $newLinkLi2) {
                var prototype = $collectionHolder2.data('prototype');
                var index = $collectionHolder2.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                $collectionHolder2.data('index', index + 1);
                var $newFormLi2 = $('<div class="col-md-12 col-lg-6 col-xl-4"></div>').append(newForm);
                $newLinkLi2.before($newFormLi2);
                addTagFormDeleteLink2($newFormLi2.find('.card-img-overlay'));
            }
            var $addTagButton2 = $('<button type="button" class="btn btn-primary add_tag_link2">Agregar imagen</button>');
            var $newLinkLi2 = $('<div class="col-md-12 text-right"></div>').append($addTagButton2);
            $collectionHolder2 = $('.row.imagenes');
            $collectionHolder2.append($newLinkLi2);
            $collectionHolder2.data('index', $collectionHolder2.find('.card').length);
            $addTagButton2.on('click', function(e) {
                addTagForm2($collectionHolder2, $newLinkLi2);
            });

        });
    </script>
{% endblock %}
