{% extends 'AvanzuAdminThemeBundle:layout:login-layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block avanzu_login_box %}
    <div class="login-box">
        {#<div class="login-logo">
            <a href="{{ path('homepage') }}">
              {% if branding.enterprise %}
                {% set logoname = branding.enterprise.name|split(' ',2) %}
                  {% if logoname|length > 1 %}
                    <b>{{ logoname[0] }}</b> {{ logoname[1] }}
                  {% else %}
                    <b>{{ logoname[0] }}</b>
                  {% endif %}
              {% else %}
                <b>Admin</b>LTE
              {% endif %}
            </a>
        </div>#}
        <div class="login-box-body p-3 p-md-5 rounded">
            {% block avanzu_login_box_msg %}
                <img style="width:100%" src="/bundles/appbundle/images/favicon.png" alt="GOlD Trade Company">
              <br>
                <h3 style="color:#333">Confirmación</h3>
                {% if error|default(false) %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            {% endblock %}
            <p class="text-justify">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            {% block avanzu_login_social_auth %}
            {% endblock %}
            {% block avanzu_login_actions %}
            {% endblock %}
        </div>
    </div>
{% endblock %}