{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block avanzu_head %} {% include 'AvanzuAdminThemeBundle:Partials:_header-form-extra.html.twig' %}{% endblock %} 
{% block avanzu_document_title %}Nuevo Producto{% endblock %}
{% block avanzu_page_title %}Nuevo Producto{% endblock %}
{% block titulo_pagina %}
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Nuevo producto</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
                  </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
{% endblock %}
{% block avanzu_page_content %}
{{ form_start(form) }}
<style>
  .vich-image{
    z-index: 300;
    text-align: center;
  }
  .vich-image img{
    height: 200px;
  }
  .card button{
    z-index: 400; 
  }
</style>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-3">
              {{ form_row(form.nombre) }}
            </div>
            <div class="col-12 col-md-3">
              {{ form_row(form.precioMayorista) }}
            </div>
            <div class="col-12 col-md-3">
              {{ form_row(form.precioDetal)}}
            </div>
            <div class="col-12 col-md-3">
              {{ form_row(form.referencia) }}
            </div>
            <div class="col-12 col-md-3">
              {{ form_row(form.categoria) }}
            </div>
            <div class="col-12 col-md-3">
              {{ form_row(form.etiqueta) }}
            </div>
            <div class="col-12 col-md-3">
              {{ form_row(form.marca) }}
            </div>
            <div class="col-12 col-md-3">
              {{ form_row(form.estado) }}
            </div>
          </div>
        </div>
        <h6 style="font-weight:bold">Colores</h6> 
        <div class="col-12">
          <div class="row colores"
                data-prototype="{{('
              <div class="card mb-2 bg-gradient-dark" style="height: 200px;">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                  <p class="card-text text-white pb-2 pt-1">' ~ form_widget(form.colores.vars.prototype.nombre) ~ '<br>' ~ form_widget(form.colores.vars.prototype.hex) ~ '</p>
                </div>
              </div>
            ')|e('html_attr')}}">
          </div>
        </div>
        <h6 style="font-weight:bold">Tallas</h6> 
        <div class="col-12">
          <div class="row tallas"
                data-prototype="{{('
              <div class="card mb-2 bg-gradient-dark" style="height: 150px;">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                  <p class="card-text text-white pb-2 pt-1">' ~ form_widget(form.tallas.vars.prototype.nombre) ~ '</p>
                </div>
              </div>
            ')|e('html_attr')}}">
          </div>
        </div>
        <h6 style="font-weight:bold">Descripción</h6>
        <textarea id="summernote" name="texto"></textarea>
        <h6 style="font-weight:bold">Imágenes del Produto</h6> 
        <div class="col-12">
          <div class="row imagenes"
                data-prototype="{{('
              <div class="card mb-2 bg-gradient-dark" style="height: 260px;">
                <img class="card-img-top" src="/bundles/appbundle/images/vacio.png" alt="Agregar foto">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                  <p class="card-text text-white pb-2 pt-1">' ~ form_widget(form.imagenes.vars.prototype.orden) ~ '<br>'  ~ form_widget(form.imagenes.vars.prototype.color) ~ '<br>' ~form_widget(form.imagenes.vars.prototype.foto) ~ '</p>
                </div>
              </div>
            ')|e('html_attr')}}">
          </div>
        </div>
        <h6 style="font-weight:bold">Productos complementarios</h6>
        <div class="col-12">
          <div class="row complementos"
                data-prototype="{{('
              <div class="card mb-2 bg-gradient-dark" style="height: 150px;">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                  <p class="card-text text-white pb-2 pt-1">' ~ form_widget(form.complementos.vars.prototype.complemento) ~ '</p>
                </div>
              </div>
            ')|e('html_attr')}}">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div style="display:none">{{ form_rest(form) }}</div>
        <input type="submit" class="btn btn-sm btn-success d-flex ml-auto" value="Guardar" />
      </div>
    </div>
  </div>
</div>
{{ form_end(form) }}
<div class="row">
  <div class="col-12" style="display:none">
    <div class="card card-danger">
      <div class="card-body">
                <a class="btn btn-default btn-flat btn-sm" href="{{ path('producto_index') }}">Regresar</a>
</div>
    </div>
  </div>
</div>
{% endblock %}
{% block avanzu_javascripts %}{% include 'AvanzuAdminThemeBundle:Partials:_scripts-form-extra.html.twig' %}{% endblock %}
{% block avanzu_javascripts_inline %}
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#summernote').summernote();
      });
    </script>
    <script>
        $(function () {
            console.log('{{ 'augmenting form'|trans({}, 'AvanzuAdminTheme') }}...');
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
            $('select:not(.swal2-select)').select2();
            $('[data-datepickerenable]').datepicker({autoclose: true, format: 'yyyy-mm-dd'});
            $('[data-timepicker]').timepicker();

            var $collectionHolder;
            $collectionHolder = $('.row.tallas');
            $collectionHolder.find('.card').each(function() {
                addTagFormDeleteLink($(this).find('.card-img-overlay'));
            });
            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormButton = $('<button class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button>');
                $tagFormLi.append($removeFormButton);
                $removeFormButton.on('click', function(e) {
                    $tagFormLi.closest('.col-3').remove();
                });
            }
            function addTagForm($collectionHolder, $newLinkLi) {
                var prototype = $collectionHolder.data('prototype');
                console.log(prototype);
                var index = $collectionHolder.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                $collectionHolder.data('index', index + 1);
                var $newFormLi = $('<div class="col-3"></div>').append(newForm);
                $newLinkLi.before($newFormLi);
                addTagFormDeleteLink($newFormLi.find('.card-img-overlay'));
            }
            var $addTagButton = $('<button type="button" class="btn btn-primary add_tag_link2">Agregar Talla</button>');
            var $newLinkLi = $('<div class="col-md-12 text-right"></div>').append($addTagButton);
            $collectionHolder = $('.row.tallas');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find('.card').length);
            $addTagButton.on('click', function(e) {
                addTagForm($collectionHolder, $newLinkLi);
            });

            var $collectionHolder3;
            $collectionHolder3 = $('.row.colores');
            $collectionHolder3.find('.card').each(function() {
                addTagFormDeleteLink3($(this).find('.card-img-overlay'));
            });
            function addTagFormDeleteLink3($tagFormLi3) {
                var $removeFormButton3 = $('<button class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button>');
                $tagFormLi3.append($removeFormButton3);
                $removeFormButton3.on('click', function(e) {
                    $tagFormLi3.closest('.col-3').remove();
                });
            }
            function addTagForm3($collectionHolder3, $newLinkLi3) {
                var prototype = $collectionHolder3.data('prototype');
                console.log(prototype);
                var index = $collectionHolder3.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                $collectionHolder3.data('index', index + 1);
                var $newFormLi3 = $('<div class="col-3"></div>').append(newForm);
                $newLinkLi3.before($newFormLi3);
                addTagFormDeleteLink3($newFormLi3.find('.card-img-overlay'));
            }
            var $addTagButton3 = $('<button type="button" class="btn btn-primary add_tag_link3">Agregar Color</button>');
            var $newLinkLi3 = $('<div class="col-md-12 text-right"></div>').append($addTagButton3);
            $collectionHolder3 = $('.row.colores');
            $collectionHolder3.append($newLinkLi3);
            $collectionHolder3.data('index', $collectionHolder3.find('.card').length);
            $addTagButton3.on('click', function(e) {
                addTagForm3($collectionHolder3, $newLinkLi3);
            });

            var $collectionHolder4;
            $collectionHolder4 = $('.row.complementos');
            $collectionHolder4.find('.card').each(function() {
                addTagFormDeleteLink4($(this).find('.card-img-overlay'));
            });
            function addTagFormDeleteLink4($tagFormLi4) {
                var $removeFormButton4 = $('<button class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button>');
                $tagFormLi4.append($removeFormButton4);
                $removeFormButton4.on('click', function(e) {
                    $tagFormLi4.closest('.col-3').remove();
                });
            }
            function addTagForm4($collectionHolder4, $newLinkLi4) {
                var prototype = $collectionHolder4.data('prototype');
                console.log(prototype);
                var index = $collectionHolder4.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                $collectionHolder4.data('index', index + 1);
                var $newFormLi4 = $('<div class="col-3"></div>').append(newForm);
                $newLinkLi4.before($newFormLi4);
                addTagFormDeleteLink3($newFormLi4.find('.card-img-overlay'));
            }
            var $addTagButton4 = $('<button type="button" class="btn btn-primary add_tag_link4">Agregar Producto</button>');
            var $newLinkLi4 = $('<div class="col-md-12 text-right"></div>').append($addTagButton4);
            $collectionHolder4 = $('.row.complementos');
            $collectionHolder4.append($newLinkLi4);
            $collectionHolder4.data('index', $collectionHolder4.find('.card').length);
            $addTagButton4.on('click', function(e) {
                addTagForm3($collectionHolder4, $newLinkLi4);
            });

            var $collectionHolder2;
            $collectionHolder2 = $('.row.imagenes');
            $collectionHolder2.find('.card').each(function() {
                addTagFormDeleteLink2($(this).find('.card-img-overlay'));
            });
            function addTagFormDeleteLink2($tagFormLi2) {
                var $removeFormButton2 = $('<button class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button>');
                $tagFormLi2.append($removeFormButton2);
                $removeFormButton2.on('click', function(e) {
                    $tagFormLi2.closest('.col-md-12').remove();
                });
            }
            function addTagForm2($collectionHolder2, $newLinkLi2) {
                var prototype = $collectionHolder2.data('prototype');
                console.log(prototype);
                var index = $collectionHolder2.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                $collectionHolder2.data('index', index + 1);
                var $newFormLi2 = $('<div class="col-md-12 col-lg-6 col-xl-4"></div>').append(newForm);
                $newLinkLi2.before($newFormLi2);
                addTagFormDeleteLink2($newFormLi2.find('.card-img-overlay'));
            }
            var $addTagButton2 = $('<button type="button" class="btn btn-primary add_tag_link2">Agregar imagen</button>');
            var $newLinkLi2 = $('<div class="col-md-12 text-right"></div>').append($addTagButton2);
            $collectionHolder2 = $('.row.imagenes');
            $collectionHolder2.append($newLinkLi2);
            $collectionHolder2.data('index', $collectionHolder2.find('.card').length);
            $addTagButton2.on('click', function(e) {
                addTagForm2($collectionHolder2, $newLinkLi2);
            });
        });
    </script>
{% endblock %}
