{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block avanzu_document_title %}Documentoetiquetas{% endblock %}
{% block avanzu_page_title %}Documentoetiquetas{% endblock %}
{% block avanzu_page_subtitle %}{% if q is defined %}Filtrado por: {{q}}{% endif %}{% endblock %}
{% block titulo_pagina %}
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Listado de documentoEtiquetas</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
                  </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
{% endblock %}
{% block avanzu_page_content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="overlay" style="display:none">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="card-header">
        
        <form class="form-inline pull-left" method="POST">            <div class="form-group ml-sm-1">
              <label for="id" class="sr-only">id</label>
              <input type="text" class="form-control" id="id" name="q[id]" placeholder="Id" {% if q and q.id %}value="{{ q.id }}"{% endif %}>
            </div>            <div class="form-group ml-sm-1">
              <label for="nombre" class="sr-only">nombre</label>
              <input type="text" class="form-control" id="nombre" name="q[nombre]" placeholder="Nombre" {% if q and q.nombre %}value="{{ q.nombre }}"{% endif %}>
            </div>          
          <button type="submit" class="btn btn-primary ml-sm-1">Buscar</button>
        </form>
          
        <div class="card-tools pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-wrench"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <a href="{{ path('documentoetiqueta_new') }}" class="dropdown-item" title="Nuevo">
                <i class="fa fa-plus"></i>&nbsp;Nuevo
              </a>            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive">  
        <table class="table table-sm table-bordered table-hover">
          <thead>
              <tr>
                  <th class="nowrap {% if pagination.isSorted('a.id') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}
                  </th>
                  <th class="nowrap {% if pagination.isSorted('a.nombre') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Nombre', 'a.nombre') }}
                  </th>
                  <th class="nowrap"></th>
              </tr>
          </thead>
          <tbody>
          {% for documentoEtiquetum in documentoEtiquetas %}
              <tr>
                  <td class="nowrap"><a href="{{ path('documentoetiqueta_show', { 'id': documentoEtiquetum.id }) }}">{{ documentoEtiquetum.id }}</a></td>
                  <td class="nowrap">{{ documentoEtiquetum.nombre }}</td>
                  <td class="nowrap text-center">                                                  
                          <a class="btn btn-success btn-xs" title="Detalle del item" href="{{ path('documentoetiqueta_show', { 'id': documentoEtiquetum.id }) }}"><i class="fa fa-eye"></i></a>
                        
                                                                          
                          <a class="btn btn-primary btn-xs" title="Editar item" href="{{ path('documentoetiqueta_edit', { 'id': documentoEtiquetum.id }) }}"><i class="fa fa-edit"></i></a>
                        
                                          </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="navigation mt-4">
          {{ knp_pagination_render(pagination) }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block avanzu_javascripts_inline %}
  <script>
   
  </script>
{% endblock %}
