{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block avanzu_document_title %}Almacens{% endblock %}
{% block avanzu_page_title %}Almacens{% endblock %}
{% block avanzu_page_subtitle %}{% if q is defined %}Filtrado por: {{q}}{% endif %}{% endblock %}
{% block titulo_pagina %}
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Listado de almacenes</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
                  </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
{% endblock %}
{% block avanzu_page_content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="overlay" style="display:none">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="card-header">
        
        <form class="form-inline pull-left" method="POST">            
          {#<div class="form-group ml-sm-1">
              <label for="id" class="sr-only">id</label>
              <input type="text" class="form-control" id="id" name="q[id]" placeholder="Id" {% if q and q.id %}value="{{ q.id }}"{% endif %}>
            </div>     #}       
            <div class="form-group ml-sm-1">
              <label for="nombre" class="sr-only">nombre</label>
              <input type="text" class="form-control" id="nombre" name="q[nombre]" placeholder="Nombre" {% if q and q.nombre %}value="{{ q.nombre }}"{% endif %}>
            </div>            
            <div class="form-group ml-sm-1">
              <label for="direccion" class="sr-only">direccion</label>
              <input type="text" class="form-control" id="direccion" name="q[direccion]" placeholder="Dirección" {% if q and q.direccion %}value="{{ q.direccion }}"{% endif %}>
            </div>            
            <div class="form-group ml-sm-1">
              <label for="telefono1" class="sr-only">telefono1</label>
              <input type="text" class="form-control" id="telefono1" name="q[telefono1]" placeholder="Teléfono1" {% if q and q.telefono1 %}value="{{ q.telefono1 }}"{% endif %}>
            </div>            
           {# <div class="form-group ml-sm-1">
              <label for="telefono2" class="sr-only">telefono2</label>
              <input type="text" class="form-control" id="telefono2" name="q[telefono2]" placeholder="Telefono2" {% if q and q.telefono2 %}value="{{ q.telefono2 }}"{% endif %}>
            </div>            
            <div class="form-group ml-sm-1">
              <label for="email" class="sr-only">email</label>
              <input type="text" class="form-control" id="email" name="q[email]" placeholder="Email" {% if q and q.email %}value="{{ q.email }}"{% endif %}>
            </div>            #}
            <div class="form-group ml-sm-1">
              <label for="nombreContacto" class="sr-only">nombreContacto</label>
              <input type="text" class="form-control" id="nombreContacto" name="q[nombreContacto]" placeholder="Nombre contacto" {% if q and q.nombreContacto %}value="{{ q.nombreContacto }}"{% endif %}>
            </div>            
       {#     <div class="form-group ml-sm-1">
              <label for="telefonoContacto" class="sr-only">telefonoContacto</label>
              <input type="text" class="form-control" id="telefonoContacto" name="q[telefonoContacto]" placeholder="Telefonocontacto" {% if q and q.telefonoContacto %}value="{{ q.telefonoContacto }}"{% endif %}>
            </div>   #}         
          {#  <div class="form-group ml-sm-1">
              <label for="estado" class="sr-only">estado</label>
              <input type="text" class="form-control" id="estado" name="q[estado]" placeholder="Estado" {% if q and q.estado %}value="{{ q.estado }}"{% endif %}>
            </div>  #}        
          <button type="submit" class="btn btn-primary ml-sm-1">Buscar</button>
        </form>
          
        <div class="card-tools pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-wrench"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <a href="{{ path('almacen_new') }}" class="dropdown-item" title="Nuevo">
                <i class="fa fa-plus"></i>&nbsp;Nuevo
              </a>            
            </div>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive">  
        <table class="table table-sm table-bordered table-hover">
          <thead>
              <tr>
                  <th class="nowrap {% if pagination.isSorted('a.id') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}
                  </th>
                  <th class="nowrap {% if pagination.isSorted('a.nombre') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Nombre', 'a.nombre') }}
                  </th>
                  <th class="nowrap {% if pagination.isSorted('a.direccion') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Dirección', 'a.direccion') }}
                  </th>
                  <th class="nowrap {% if pagination.isSorted('a.telefono1') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Teléfono1', 'a.telefono1') }}
                  </th>
                {#  <th class="nowrap {% if pagination.isSorted('a.telefono2') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Telefono2', 'a.telefono2') }}
                  </th>
                  <th class="nowrap {% if pagination.isSorted('a.email') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Email', 'a.email') }}
                  </th>#}
                  <th class="nowrap {% if pagination.isSorted('a.nombreContacto') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Nombre contacto', 'a.nombreContacto') }}
                  </th>
                  <th class="nowrap {% if pagination.isSorted('a.telefonoContacto') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Teléfono contacto', 'a.telefonoContacto') }}
                  </th>
                {#  <th class="nowrap {% if pagination.isSorted('a.fechaCreacion') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Fechacreacion', 'a.fechaCreacion') }}
                  </th>
                  <th class="nowrap {% if pagination.isSorted('a.estado') %} sorted{% endif %}">
                    {{ knp_pagination_sortable(pagination, 'Estado', 'a.estado') }}
                  </th>#}
                  <th class="nowrap"></th>
              </tr>
          </thead>
          <tbody>
          {% for almacen in almacens %}
              <tr>
                  <td class="nowrap"><a href="{{ path('almacen_show', { 'id': almacen.id }) }}">{{ almacen.id }}</a></td>
                  <td class="nowrap">{{ almacen.nombre }}</td>
                  <td class="nowrap">{{ almacen.direccion }}</td>
                  <td class="nowrap">{{ almacen.telefono1 }}</td>
                 {# <td class="nowrap">{{ almacen.telefono2 }}</td>
                  <td class="nowrap">{{ almacen.email }}</td>#}
                  <td class="nowrap">{{ almacen.nombreContacto }}</td>
                  <td class="nowrap">{{ almacen.telefonoContacto }}</td>
                {#  <td class="nowrap" data-sort-value="{% if almacen.fechaCreacion %}{{ almacen.fechaCreacion|date('U') }}{% endif %}">{% if almacen.fechaCreacion %}{{ almacen.fechaCreacion|date('d-m-Y h:i:s a') }}{% endif %}</td>
                  <td class="nowrap">{{ almacen.estado }}</td>#}
                  <td class="nowrap text-center">                                                  
                    <a class="btn btn-success btn-xs" title="Detalle del item" href="{{ path('almacen_show', { 'id': almacen.id }) }}"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-primary btn-xs" title="Editar item" href="{{ path('almacen_edit', { 'id': almacen.id }) }}"><i class="fa fa-edit"></i></a>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="navigation mt-4">
          {{ knp_pagination_render(pagination) }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block avanzu_javascripts_inline %}
  <script>
   
  </script>
{% endblock %}
