<form action="{{ path('ordencompranovedad_resolver', {'id': ordenCompraNovedad.id}) }}" method="POST">
  <div class="row">
     <div class="col-12">
      <div class="card">
        <div class="overlay" style="display:none">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="card-header">
          
        </div>
        <div class="card-body">
          <div class="form-group ">
            <label class="required" for="anotaciones">
              Anotaciones    
            </label>
            <sup class="required" title="This is a mandatory field">
                <i class="fa fa-asterisk"></i>
            </sup>
            <input type="text" name="anotaciones" id="anotaciones" class="form-control" required placeholder="Razón" value="Resuelto..." />
            <br>
            <input type="submit" class="btn btn-sm btn-success d-flex ml-auto" value="Guardar" />
          </div>
          <code>{{ ordenCompraNovedad.descripcion }}</code>
        </div>
        <div class="card-footer">
          <div class="direct-chat-messages" style="height: auto;">
            <div class="direct-chat-msg">
              <div class="direct-chat-infos clearfix">
                <span class="direct-chat-name float-left">{{ ordenCompraNovedad.usuarioCreacion }}</span>
                <span class="direct-chat-timestamp float-right">{{ ordenCompraNovedad.fechaCreacion|date('d-m-Y h:i a') }}</span>
              </div>
              <img class="direct-chat-img" src="/bundles/appbundle/images/avatar.png" alt="{{ ordenCompraNovedad.usuarioCreacion }}">
              <div class="direct-chat-text">
                <b>{{ ordenCompraNovedad.anotaciones }}</b>
              </div>
            </div>
          </div>
         {# <div class="card-comment">
            <div class="">
              <span class="username">
                {{ ordenCompraNovedad.usuarioCreacion }}
                <span class="text-muted float-right">{{ ordenCompraNovedad.fechaCreacion|date('d-m-Y h:i a') }}</span>
              </span>
                {{ ordenCompraNovedad.descripcion }}<br>
                <b>{{ ordenCompraNovedad.anotaciones }}</b>
            </div>
          </div>#}
        </div>
      </div>
    </div>
  </div>
</form>
{#<script>
  $('#appbundle_almacenzonainventario_almacen').change(function(){
    var almacen = $(this).find('option:selected', this).val();
    $.get("/admin/zona/almacen/"+almacen+"/get_zonas", function(data){
      var zonas = data.zonas;
      var selector = $('#appbundle_almacenzonainventario_almacenZona');
      selector.empty();
      for(var i = 0; i < zonas.length; i++){
        var opcion = $('<option value="'+zonas[i].id+'">'+zonas[i].tag+"</option>");
        selector.append(opcion);
      }
    });
  });
</script>#}
