{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block avanzu_document_title %}Detalle Productoinventario{% endblock %}
{% block avanzu_page_title %}Detalle Productoinventario{% endblock %}
{% block titulo_pagina %}
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Detalle productoInventario</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
                  </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
{% endblock %}
{% block avanzu_page_content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="overlay" style="display:none">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="card-body">
        
        <table class="table table-sm table-bordered table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ productoInventario.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ productoInventario.producto.producto.nombre }}</td>
                </tr>
                <tr>
                    <th>Talla</th>
                    <td>{{ productoInventario.producto.nombre }}</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>{{ productoInventario.color.nombre }}</td>
                </tr>
                <tr>
                    <th>Ingresodetal</th>
                    <td>{{ productoInventario.ingresoDetal }}</td>
                </tr>
                <tr>
                    <th>Egresodetal</th>
                    <td>{{ productoInventario.egresoDetal }}</td>
                </tr>
                <tr>
                    <th>Qtyactualdetal</th>
                    <td>{{ productoInventario.qtyActualDetal }}</td>
                </tr>
                <tr>
                    <th>Ultimoingresod</th>
                    <td>{% if productoInventario.ultimoIngresoD %}{{ productoInventario.ultimoIngresoD|date('d-m-Y h:i:s a') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Ultimoegresod</th>
                    <td>{% if productoInventario.ultimoEgresoD %}{{ productoInventario.ultimoEgresoD|date('d-m-Y h:i:s a') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Ingresomayorista</th>
                    <td>{{ productoInventario.ingresoMayorista }}</td>
                </tr>
                <tr>
                    <th>Egresomayorista</th>
                    <td>{{ productoInventario.egresoMayorista }}</td>
                </tr>
                <tr>
                    <th>Qtyactualmayorista</th>
                    <td>{{ productoInventario.qtyActualMayorista }}</td>
                </tr>
                <tr>
                    <th>Ultimoingresom</th>
                    <td>{% if productoInventario.ultimoIngresoM %}{{ productoInventario.ultimoIngresoM|date('d-m-Y h:i:s a') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Ultimoegresom</th>
                    <td>{% if productoInventario.ultimoEgresoM %}{{ productoInventario.ultimoEgresoM|date('d-m-Y h:i:s a') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
        
      </div>
      <div class="card-footer clearfix">
                <a class="btn btn-default btn-flat btn-sm" href="{{ path('productoinventario_index') }}">Regresar</a>&nbsp;<a class="btn btn-warning btn-flat btn-sm" href="{{ path('productoinventario_edit', { 'id': productoInventario.id }) }}">Editar</a>&nbsp;  {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN_PRODUCCION') %}{{ form_start(delete_form, { 'attr': {'style': 'display:inline-block'}} ) }}
      <input class="btn btn-danger btn-flat btn-sm" type="submit" value="Eliminar">
  {{ form_end(delete_form) }}{% endif %}
</div>
    </div>
  </div>
</div>

{% endblock %}
